.login-wrapper{
  min-height: 100vh;
  background: linear-gradient(135deg, #3f51b5, #5c6bc0);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.login-card{
  width: 100%;
  max-width: 420px;
  padding: 1rem;
  border-radius: 16px;
}
 
mat-card-title{
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
 
mat-card-subtitle{
  text-align: center;
  margin-bottom: 1rem;
}
 
.full-width{
  width: 100%;
}
 
.login-btn{
  margin-top: 1rem;
  height: 48px;
  font-size: 1rem;
}